<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>WISHLIST</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
  	<script th:inline="javascript">
  		var token = [[${token}]];
  		var recentList = [[${recentList}]];
  	</script>
</head>
<body>
	<div id="recent"></div>
	<div class="container">
  	  
  	  <div class="row" style="height:70px">
		  <div class="col-md-10">
		  	<h2>Wishlist</h2>
		  </div>
		  <div class="col-md-1">
		  	<h1 th:text="${user.name}"  align="left" style="font-size:20px"/>
		  </div>	  	
		  <div class="col-md-1">
		  <div class="container">
		  	<img th:src="${user.photoUrl}" alt="Lights" style="width:70px;height:70px;margin-top: 2px"  class="img-rounded" />
		  </div>
		  </div>	  		  	
  	  </div>
  	  
  	  <div id="wishlist" class="row" >
  	  		
  	  </div>
  	  
  	  <h2>Recents</h2>
	  <div id="recents" class="row"  th:each="data, row: ${recentList}" th:with="numList=${#strings.listSplit('3,2,1,0', ',')}" th:if="${row.count} % 4 == 0" >
	    <div class="col-md-3"  th:each="num : ${numList}" th:with="dataIndex=(${row.index} - ${num})" >
	      <div th:id="'thumb' + ${recentList[dataIndex].venueId}" class="thumbnail">
	        <a class="venueLink" th:id="'link' + ${recentList[dataIndex].venueId}" target="_blank">
	          <img class="venueImg" th:id="${recentList[dataIndex].venueId}" alt="Lights" style="width:100%;maxheight:200px"  />
	        </a>
	          <div class="caption">
	          	<div class="row" style="height:40px" >
		          	<div class="col-md-8">
		          		<p th:text="${recentList[dataIndex].firstName}"></p>
		          	</div>
		          	<div class="col-md-1">
		          		<button class="btn btn-primary" th:id="'btn' + ${recentList[dataIndex].venueId}" style="align-content:right" onclick="onAddClick(this)" >Add</button>
		          	</div>
	          	</div>
          		<p th:text="${recentList[dataIndex].venueName}"></p>
            
	          </div>
	       
	      </div>
	    </div>
	  </div>
	</div>
	



 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/home.js"></script>
</body>
</html>