<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>WISHLIST</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
</head>
<body>
	<div id="recent"></div>
	<div class="container">
  	  <h2>Recents</h2>
	  <div class="row" >
	    <div class="col-md-3"  th:each="data,iter : ${recentList}">
	      <div class="thumbnail">
	        <a th:href="${data.venuePhoto}" target="_blank">
	          <img th:src="${data.venuePhoto}" alt="Lights" style="width:100%" />
	          <div class="caption">
	            <p th:text="${data.firstName}"></p>
	            <p th:text="${data.venueName}"></p>
	          </div>
	        </a>
	      </div>
	    </div>
	  </div>
	</div>
	<!-- <table border="1px solid" th:each="data : ${recentList}">
		<tr>
        	<td th:text="${data.firstName}"></td>
        	<td th:text="${data.venueName}"></td>
        	  td th:text="${data.venuePhoto}"></td>
        	 <td><img class="venue" th:src="${data.venuePhoto}" /> </td>
    	</tr>
	</table>-->
	 
	



 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/galleria/1.5.7/galleria.min.js"></script>
<script type="text/javascript" src="js/home.js"></script>
</body>
</html>